{% extends 'dashboard.html.twig' %}

{% block title %}Lista kont{% endblock %}
{% block pageTitle %}Lista kont{% endblock %}

{% block buttons %}
    <a href="{{ path('app_igaccount_add') }}" class="btn btn-sm btn-warning">Dodaj konto</a>
{% endblock buttons %}

{% block content %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">l.p.</th>
            <th scope="col">Nazwa konta</th>
            {% if is_granted('ROLE_ADMIN') %}
                <th scope="col">Użytkownik</th>
            {% endif %}
            <th scope="col">Śledzone konto</th>
            <th scope="col">Aktywne</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% if accounts|length > 0 %}
            {% for account in accounts %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ account.username }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td>{{ account.user.email }}</td>
                    {% endif %}
                    <td>{{ account.linkedAccount }}</td>
                    <td>{{ account.active ? "TAK" : "NIE" }}</td>
                    <td></td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="6">
                    Brak danych do wyświetlenia
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
